player-connection-mode=Listen
player-connection-guid=3874958977
player-connection-debug=0
player-connection-project-name=ServerBuild
player-connection-ip=192.168.123.116
player-connection-ip=25.41.41.156
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0b1d1a4308314559a582a0bbc73ad4d1
